<mat-toolbar color="primary">

    <span>
        <a routerLink="" mat-button>
            <mat-icon>movie</mat-icon> Angular Peliculas
        </a>
        

    </span>
    <div>
        <a  routerLink="peliculas/buscar"mat-button>
          <mat-icon>search</mat-icon>Buscar Peliculas
        </a>
    </div>

    <div>
        <a  routerLink="generos"mat-button>
           Generos
        </a>
    </div>
    <div>
        <a  routerLink="actores"mat-button>
           Actores
        </a>
    </div>
    <div>
        <a  routerLink="cines"mat-button>
           Cines
        </a>
    </div>
    <div>
        <a  routerLink="peliculas/crear"mat-button>
           Crear Pelicula
        </a>
    </div>
    
  </mat-toolbar>